@model DAL.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<legend>Order</legend>

<div class="display-label">
    Date
</div>
<div class="display-field">
    @Html.EditorFor(model => model.OrderDate)
</div>

<div class="display-label">
    Summa
</div>
<div class="display-field">
    @Html.EditorFor(model => model.Sum)
</div>

<div class="display-label">
   Manager Name
</div>
<div class="display-field">
    @Html.EditorFor(model => model.Manager.Name)
</div>

<div class="display-label">
   Product Description
</div>
<div class="display-field">
    @Html.EditorFor(model => model.Product.Description)
</div>

<div class="display-label">
    Customer Name
</div>
<div class="display-field">
   @Html.EditorFor(model => model.Customer.Name)
</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>