@model DAL.Order
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>OrderSet</legend>

        @Html.HiddenFor(model => model.OrderId)

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderDate)
            @Html.DisplayFor(model => model.OrderDate.Date)
        </div>
        <div class="editor-field">
       
            @Html.EditorFor(model => model.OrderDate)
            @Html.ValidationMessageFor(model => model.OrderDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Sum)
            @Html.DisplayFor(model => model.Sum)
        </div>
        <div class="editor-field">
         
            @Html.EditorFor(model => model.Sum)
            @Html.ValidationMessageFor(model => model.Sum)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ManagerId, "ManagerId")
            @Html.DisplayFor(model => model.Manager.Name)
        </div>
        <div class="editor-field">
            
            @Html.DropDownList("ManagerId")
            @Html.ValidationMessageFor(model => model.ManagerId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductId, "ProductId")
            @Html.DisplayFor(model => model.Product.Description)
        </div>
        <div class="editor-field">
          
            @Html.DropDownList("ProductId")
            @Html.ValidationMessageFor(model => model.ProductId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerId, "Customer")
            @Html.DisplayFor(model => model.Customer.Name)
        </div>
        <div class="editor-field">
          
            @Html.DropDownList("CustomerId")
            @Html.ValidationMessageFor(model => model.CustomerId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
